/*CSS Reset (Eric Meyer Reset) */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    background: url('images/bg-image.jpg') no-repeat center / cover;
    height: 100%;
    color: #fff;

    h1 {
        font-family: 'Norse', 'Times New Roman', Times, serif;
        font-size: 6rem;
    }
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30%;
    background-color: #00000080;
}
.logo {
    max-width: 100px;
    padding: 10px;
}
.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;

    a {
        color: #fff;
        padding-left:0.5rem;
        padding-right:0.5rem;
    }
    a:hover {
        color: #da4b4b;
    }
}

.main {
    font-family: "Poppins", sans-serif;
    width: 60%;

    p {
        padding: 1rem 0;
    }

    .bigger-text {
        font-size: 1.75rem;
        font-weight: 500;

        span {
            font-style: italic;
        }
    }
}

.intro-area {
    padding: 3rem;
}

.form-area {
    width: 100%;
}

.form-container {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 3px 5px 1px #d9d7d7;
    padding: 3rem;
}

.login-container {
    padding: 3rem;

    a {
        color: #596D48;
        font-weight: 500;
        text-decoration: none;
    }

    a:hover {
        color: #3f4d32;
    }
}

.form-title {
    width: 100%;
    margin-bottom: 1rem;

    h2 {
        font-weight: 500;
    }
}

.form-group {
    width: calc(50% - 1rem);
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

button {
    margin-top: 1rem; 
}

.login-text {
    margin-top: 1rem; 
}

input {
    appearance: none;
    width: 70%;
    height: 2rem;
    padding: 0.3rem;
    border: solid 1px #E5E7EB;
    border-radius: 0.25rem;
}

input:invalid {
    border-color: #ce1b1b;
}

input:focus, input:focus-visible {
    border: solid 1px #1353d4;
    box-shadow: 0 3px 5px 1px #d9d7d7;
    outline: #1353d4;
}

button {
    appearance: none;
    padding: 15px 45px;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    background-color: #596D48;
    color: #fff;
    border: none;
    box-shadow: 2px 2px 3px 1px #d9d7d7;
    border-radius: 0.5rem;
}

button:hover {
    cursor:pointer;
    background-color: #3f4d32;
}